/* Global styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f1db;
    margin: 0;
    padding: 0;
}

header {
    background-color: #f8f1db;;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-icon {
    font-size: 24px;
    cursor: pointer;
}

.search-container {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 30px;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    width: 70%;
    font-size: 18px;
    
}

.search-container input {
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 20px;
    flex-grow: 1;
    font-size: 18px;
    width: 50%;
}

.search-container button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
}

.search-icon {
    font-size: 5px;
}

.ranking {
	margin: 0px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    padding: 20px;
    border-radius: 10px;
    width: 350px;
}

.rank-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    width: 100%; /* 전체 너비를 차지하도록 설정 */
    max-width: 700px; /* 최대 너비 설정 */
}

.rank-num {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background-color: #ffe591;
    color: #fff;
    font-weight: bold;
    font-size: 24px;
    border-radius: 10px;
    text-align: center;
    margin-right: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.rank-text {
    flex-grow: 1;
    padding: 10px 20px;
    border-radius: 15px;
    font-size: 18px;
    font-weight: bold;
    color: #333;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}



.intro {
    text-align: left; /* 전체 intro 섹션을 왼쪽 정렬 */
    margin-top: 20px;
    margin-bottom: 50px;
    background-color: #fff; /* intro 섹션 배경색 */
    padding: 20px;
    border-radius: 10px;
}

.intro h2 {
    font-size: 22px;
    font-weight: bold;
    color: #333;
    position: relative;
    display: inline-block;
    padding-bottom: 5px;
    text-align: left;
    z-index: 1;
}

.intro h2.highlight {
    margin-top: 5px; /* 두 텍스트 사이의 간격 조절 */
}

.intro h2.highlight::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 40%; /* 형광펜 밑줄의 높이 조절 */
    background: gold;
    z-index: -1;
    opacity: 0.3; /* 형광펜 효과의 투명도 조절 */
    pointer-events: none;
}

/* 선재 업고 튀어에 나온 그 장소! 나도 가 볼까? 아래 사진 3장 연결 */


.image-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 20px;
}

.image-container a {
  /*   display: inline-block;
    border-radius: 50%;
    overflow: hidden;
    width: 150%;
    height: 150%;
    transition: transform 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 5px solid #ffeba8; 노란색 테두리 추가 */
    
    display: inline-block;
    border-radius: 50%;
    overflow: hidden;
    width: 20vw; /* 뷰포트 너비의 20% */
    height: 20vw; /* 뷰포트 너비의 20% */
    max-width: 200px; /* 최대 너비 설정 */
    max-height: 200px; /* 최대 높이 설정 */
    transition: transform 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 5px solid #ffeba8; /* 노란색 테두리 추가 */
}

.image-container a:hover {
    transform: scale(1.1);
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}


/* 로그인, 회원가입, 한국어, English */
footer {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

footer .btn {
    background-color: #ffe591;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    margin: 0 5px;
    font-size: 11px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

